#pokemon-title {
    -webkit-text-stroke: 4px navy;
}

#subtitle-title {
    -webkit-text-stroke: 1px navy;
}

@media (min-width: 769px) {

    #pokedex-card {
        width: 600px
    }

    #iframe {
        width: 100%;
        height: 500px;
    }

    #header-text {
        align-content: center;
    }

    #pokemon-title {
        font-size: 8em !important;
    }

    #subtitle-title {
        font-size: 3em !important;
    }

    #home-grid {
        margin-top: 5em;
    }
}

@media (max-width: 768px) {

    #iframe {
        width: 100%;
        height: 400px
    }
}

@media (max-width: 400px) {

    #iframe {
        height: 15em;
        width: 100%;
    }

    #pokemon-title {
        font-size: 5em !important;
    }

    #subtitle-title {
        font-size: 2em !important;
    }

    #home-grid {
        margin-top: 2em;
    }
}